<ion-header>
  <ion-navbar color="navBarColor">
    <ion-title>{{ "MOVENTIV_PAGE.NAVBAR_TITLE" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="ai-param"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
  <div color="navBarColor" no-border-top class="command-header-segments">
    <ion-segment class="command-main-segment" color="navBarColor" [(ngModel)]="menuType" textwrap>
      <ion-segment-button (click)="readAll()" color="light" value="com">
        {{ "MOVENTIV_PAGE.COMMANDS_TAB.COMMANDS_TAB_TITLE" | translate }}
      </ion-segment-button>
      <ion-segment-button (click)="paramOnClick()" [hidden]="!isVisibleTabSet" color="light" value="param">
        {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.ADJUSTMENTS_TAB_TITLE" | translate }}
      </ion-segment-button>
      <ion-segment-button (click)="readAll()" [hidden]="!isVisibleTabInfo" color="light" value="info">
        {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.INFORMATIONS_TAB_TITLE" | translate }}
      </ion-segment-button>
    </ion-segment>
    <ion-item no-lines text-wrap>
      <b text-wrap>{{ "MOVENTIV_PAGE.CONTROLLED_DOOR" | translate }}</b>
      {{peripheralNameAff || ("MOVENTIV_PAGE.CONTROLLED_DOOR_NOCONNECTEDDOOR" | translate) }}
    </ion-item>
    &nbsp;
    <div [ngSwitch]="menuType">
      <div *ngSwitchCase="'param'">
        <ion-segment class="command-sub-segment" color="mantionSmtgreen" [(ngModel)]="paramSubmenuType" textwrap>
          <ion-segment-button (click)="paramBasicOnclick()" color="light" value="basic" textwrap>
            {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.BASIC.TITLE" | translate }}
          </ion-segment-button>
          <ion-segment-button (click)="paramAdvancedOnclick()" color="light" value="advanced" text-wrap>
            {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.TITLE" | translate }}
          </ion-segment-button>
        </ion-segment>
        &nbsp;
      </div>
    </div>



  </div>

</ion-header>


<ion-content class="outer-content" [class.has-expanded-param-header]="menuType === 'param'" no-bounce
  has-bouncing="false" forceOverscroll="false">


  <div [ngSwitch]="menuType">

    <div *ngSwitchCase="'com'">
      <ion-grid>
        <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col col-4>
              <button ion-button class="rounded-button" block style="height:100px;" color="navBarColor"
              (click)="setShutterOpen()" button-rounded>
              <ion-icon name="moventiv-command_open" style="zoom:4;"></ion-icon>   
            </button>
          </ion-col>
          <ion-col col-2>
          </ion-col>
          <ion-col col-4>
            <button ion-button class="rounded-button" block style="height:100px;" color="navBarColor"
              (click)="setShutterClose()" button-rounded>
              <ion-icon name="moventiv-command_close" style="zoom:4;"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
          </ion-col>
          <ion-col text-center col-4 text-wrap>
            {{ "MOVENTIV_PAGE.COMMANDS_TAB.COMBUTTON_OPEN" | translate }} 
          </ion-col>
          <ion-col col-2>
          </ion-col>
          <ion-col text-center col-4 text-wrap>
            {{ "MOVENTIV_PAGE.COMMANDS_TAB.COMBUTTON_CLOSE" | translate }}
          </ion-col>
          <ion-col col-1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
          </ion-col>
          <ion-col col-4>
              <button ion-button class="rounded-button" block style="height:100px;" color="navBarColor"
              (click)="setShutterOpenStime()" button-rounded>
              <ion-icon name="moventiv-command_openThenClose" style="zoom:4;"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
          </ion-col>
          <ion-col text-center col-4 text-wrap>
            {{ "MOVENTIV_PAGE.COMMANDS_TAB.COMBUTTON_OPEN" | translate }} {{rval_mlpc_userParam_openTimeShort}}s
          </ion-col>
          <ion-col col-4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <ion-list lines="none" *ngSwitchCase="'param'">

      <div [ngSwitch]="paramSubmenuType">
        <div *ngSwitchCase="'basic'">

          <ion-list-header text-wrap class="slider-lock-header" [class.slider-unlocked]="isSliderUnlocked('openSpeed')"
            (click)="toggleSliderLock('openSpeed')">
            {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.OPEN_SPEED_LABEL" | translate }}
            <ion-badge item-end color="mantionSmtgreen">{{rval_mlpc_userParam_speedOpenTune}} % </ion-badge>
            <button ion-button clear item-end type="button" class="slider-lock-toggle"
              (click)="toggleSliderLock('openSpeed', $event)">
              <ion-icon [name]="isSliderUnlocked('openSpeed') ? 'unlock' : 'lock'" color="wimGreyColor"></ion-icon>
            </button>
          </ion-list-header>
          <ion-item no-lines>
            <ion-icon name="moventiv-speed" item-start color="wimGreyColor"></ion-icon>
            <ion-range [min]="WIDOOR_OPEN_SPEED_MIN" [max]="WIDOOR_SPEED_MAX" debounce="300"
              [disabled]="!isSliderUnlocked('openSpeed')"
              (ionFocus)="onSliderInteractionStarted('openSpeed')"
              (ionBlur)="onSliderReleased('openSpeed')"
              [(ngModel)]="rval_mlpc_userParam_speedOpenTune" color="mantionSmtblue"></ion-range>
            <button ion-button clear item-end type="button" class="slider-options-toggle"
              [disabled]="!isSliderUnlocked('openSpeed')"
              (click)="toggleSliderPrecision('openSpeed', $event)">
              <ion-icon [name]="isSliderPrecisionOpen('openSpeed') ? 'arrow-dropright' : 'arrow-dropleft'"
                color="wimGreyColor"></ion-icon>
            </button>
          </ion-item>
          <ion-row *ngIf="isSliderUnlocked('openSpeed') && isSliderPrecisionOpen('openSpeed')" class="slider-precision-actions"
            (touchstart)="stopSliderButtonPointerEvent($event)" (touchend)="stopSliderButtonPointerEvent($event)"
            (mousedown)="stopSliderButtonPointerEvent($event)" (mouseup)="stopSliderButtonPointerEvent($event)"
            (pointerdown)="stopSliderButtonPointerEvent($event)" (pointerup)="stopSliderButtonPointerEvent($event)">
            <ion-col col-6>
              <button ion-button block color="mantionSmtgreen" type="button"
                [disabled]="!isSliderUnlocked('openSpeed')"
                (click)="$event.stopPropagation(); onSliderIncrementClick($event, 'openSpeed')">
                <ion-icon name="add"></ion-icon>
                {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.INCDECBUTTON.INC" | translate }}
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button block color="mantionSmtRed" type="button"
                [disabled]="!isSliderUnlocked('openSpeed')"
                (click)="$event.stopPropagation(); onSliderDecrementClick($event, 'openSpeed')">
                <ion-icon name="remove"></ion-icon>
                {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.INCDECBUTTON.DEC" | translate }}
              </button>
            </ion-col>
          </ion-row>

          <ion-list-header text-wrap class="slider-lock-header" [class.slider-unlocked]="isSliderUnlocked('closeSpeed')"
            (click)="toggleSliderLock('closeSpeed')">
            {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.CLOSE_SPEED_LABEL" | translate }}
            <ion-badge item-end color="mantionSmtgreen">{{rval_mlpc_userParam_speedCloseTune}} %</ion-badge>
            <button ion-button clear item-end type="button" class="slider-lock-toggle"
              (click)="toggleSliderLock('closeSpeed', $event)">
              <ion-icon [name]="isSliderUnlocked('closeSpeed') ? 'unlock' : 'lock'" color="wimGreyColor"></ion-icon>
            </button>
          </ion-list-header>
          <ion-item no-lines>
            <ion-icon name="moventiv-speed" item-start color="wimGreyColor"></ion-icon>
            <ion-range [min]="WIDOOR_CLOSE_SPEED_MIN" [max]="WIDOOR_SPEED_MAX" debounce="300"
              [disabled]="!isSliderUnlocked('closeSpeed')"
              (ionFocus)="onSliderInteractionStarted('closeSpeed')"
              (ionBlur)="onSliderReleased('closeSpeed')"
              [(ngModel)]="rval_mlpc_userParam_speedCloseTune" color="mantionSmtblue"> </ion-range>
            <button ion-button clear item-end type="button" class="slider-options-toggle"
              [disabled]="!isSliderUnlocked('closeSpeed')"
              (click)="toggleSliderPrecision('closeSpeed', $event)">
              <ion-icon [name]="isSliderPrecisionOpen('closeSpeed') ? 'arrow-dropright' : 'arrow-dropleft'"
                color="wimGreyColor"></ion-icon>
            </button>
          </ion-item>
          <ion-row *ngIf="isSliderUnlocked('closeSpeed') && isSliderPrecisionOpen('closeSpeed')" class="slider-precision-actions"
            (touchstart)="stopSliderButtonPointerEvent($event)" (touchend)="stopSliderButtonPointerEvent($event)"
            (mousedown)="stopSliderButtonPointerEvent($event)" (mouseup)="stopSliderButtonPointerEvent($event)"
            (pointerdown)="stopSliderButtonPointerEvent($event)" (pointerup)="stopSliderButtonPointerEvent($event)">
            <ion-col col-6>
              <button ion-button block color="mantionSmtgreen" type="button"
                [disabled]="!isSliderUnlocked('closeSpeed')"
                (click)="$event.stopPropagation(); onSliderIncrementClick($event, 'closeSpeed')">
                <ion-icon name="add"></ion-icon>
                {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.INCDECBUTTON.INC" | translate }}
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button block color="mantionSmtRed" type="button"
                [disabled]="!isSliderUnlocked('closeSpeed')"
                (click)="$event.stopPropagation(); onSliderDecrementClick($event, 'closeSpeed')">
                <ion-icon name="remove"></ion-icon>
                {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.INCDECBUTTON.DEC" | translate }}
              </button>
            </ion-col>
          </ion-row>

          <ion-list-header text-wrap class="slider-lock-header" [class.slider-unlocked]="isSliderUnlocked('shortTiming')"
            (click)="toggleSliderLock('shortTiming')">
            {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.AUTOCLOSING_TIMEDELAYSHORT_LABEL" | translate }}
            <ion-badge item-end color="mantionSmtgreen">{{rval_mlpc_userParam_openTimeShort}} s</ion-badge>
            <button ion-button clear item-end type="button" class="slider-lock-toggle"
              (click)="toggleSliderLock('shortTiming', $event)">
              <ion-icon [name]="isSliderUnlocked('shortTiming') ? 'unlock' : 'lock'" color="wimGreyColor"></ion-icon>
            </button>
          </ion-list-header>
          <ion-item no-lines>
            <ion-icon name="moventiv-delay" item-start color="wimGreyColor"></ion-icon>
            <ion-range [min]="WIDOOR_SHORT_TIMING_MIN" [max]="WIDOOR_SHORT_TIMING_MAX" debounce="300" [(ngModel)]="rval_mlpc_userParam_openTimeShort"
              [disabled]="!isSliderUnlocked('shortTiming')"
              (ionFocus)="onSliderInteractionStarted('shortTiming')"
              (ionBlur)="onSliderReleased('shortTiming')" color="mantionSmtblue">
            </ion-range>
            <button ion-button clear item-end type="button" class="slider-options-toggle"
              [disabled]="!isSliderUnlocked('shortTiming')"
              (click)="toggleSliderPrecision('shortTiming', $event)">
              <ion-icon [name]="isSliderPrecisionOpen('shortTiming') ? 'arrow-dropright' : 'arrow-dropleft'"
                color="wimGreyColor"></ion-icon>
            </button>
          </ion-item>
          <ion-row *ngIf="isSliderUnlocked('shortTiming') && isSliderPrecisionOpen('shortTiming')" class="slider-precision-actions"
            (touchstart)="stopSliderButtonPointerEvent($event)" (touchend)="stopSliderButtonPointerEvent($event)"
            (mousedown)="stopSliderButtonPointerEvent($event)" (mouseup)="stopSliderButtonPointerEvent($event)"
            (pointerdown)="stopSliderButtonPointerEvent($event)" (pointerup)="stopSliderButtonPointerEvent($event)">
            <ion-col col-6>
              <button ion-button block color="mantionSmtgreen" type="button"
                [disabled]="!isSliderUnlocked('shortTiming')"
                (click)="$event.stopPropagation(); onSliderIncrementClick($event, 'shortTiming')">
                <ion-icon name="add"></ion-icon>
                {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.INCDECBUTTON.INC" | translate }}
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button block color="mantionSmtRed" type="button"
                [disabled]="!isSliderUnlocked('shortTiming')"
                (click)="$event.stopPropagation(); onSliderDecrementClick($event, 'shortTiming')">
                <ion-icon name="remove"></ion-icon>
                {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.INCDECBUTTON.DEC" | translate }}
              </button>
            </ion-col>
          </ion-row>

          <ion-list-header>

          </ion-list-header>
          <ion-item no-lines>
            <ion-icon name="sunny" item-start
              [color]="rval_mlpc_periphCommandRGBIndic? 'wimoveYellowColor' : 'wimGreyColor'">
            </ion-icon>
            <ion-label text-wrap>{{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.COMTOOGLE_RGBINDIC" | translate }}</ion-label>
            <ion-toggle [(ngModel)]="rval_mlpc_periphCommandRGBIndic" (ionChange)="setUserRGBIndic($event)"
              color="mantionSmtgreen">
            </ion-toggle>
          </ion-item>

          <ion-list-header>
            {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.NAME_AND_LOCALIZATION_LABEL" | translate }}
          </ion-list-header>
          <form [formGroup]="formName" (ngSubmit)="onSubmitformName()">
            <ion-item>
              <ion-label text-wrap floating>{{ "WIDOOR_PAGE.ADJUSTMENTS_TAB.BASIC.MODIFY_NAME_FORMLABEL" | translate }}
              </ion-label>
              <ion-input [(ngModel)]="userConfig.mlpcName" formControlName="mlpcName" type="string" id="mlpcName">
              </ion-input>
            </ion-item>



            <div *ngFor="let validation of validation_messages.mlpcName">
              <ion-item text-wrap
                *ngIf="formName.get('mlpcName').hasError(validation.type) && (formName.get('mlpcName').dirty ||formName.get('mlpcName').touched)">
                <p ion-text color="danger">{{validation.message}}</p>
              </ion-item>
            </div>

            <ion-item>
              <ion-label floating>{{ "WIDOOR_PAGE.ADJUSTMENTS_TAB.BASIC.ASSOCIATE_FORMLABEL" | translate }}</ion-label>
              <ion-select cancelText="{{ 'MOVENTIV_PAGE.ADJUSTMENTS_TAB.ASSOCIATEFORM.CANCELTEXT' | translate }}"
                okText="{{ 'MOVENTIV_PAGE.ADJUSTMENTS_TAB.ASSOCIATEFORM.OKTEXT' | translate }}"
                [(ngModel)]="localisation" [ngModelOptions]="{standalone: true}" (ionChange)="onLocChange($event)">
                <ion-option value="locValRoom">{{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.ROOM_TYPE.BEDROOM" | translate }}
                </ion-option>
                <ion-option value="locValLivingRoom">
                  {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.ROOM_TYPE.LIVING_ROOM" | translate }}
                </ion-option>
                <ion-option value="locValDiningRoom">
                  {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.ROOM_TYPE.DINING_ROOM" | translate }}
                </ion-option>
                <ion-option value="locValKitchen">{{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.ROOM_TYPE.KITCHEN" | translate }}
                </ion-option>
                <ion-option value="locValBathroom">{{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.ROOM_TYPE.BATHROOM" | translate }}
                </ion-option>
                <ion-option value="locValToilet">{{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.ROOM_TYPE.TOILET" | translate }}
                </ion-option>
                <ion-option value="LocValGarage_UtilityRoom">
                  {{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.ROOM_TYPE.GARAGE_UTILITYROOM" | translate }}</ion-option>
                <ion-option value="LocValPlayroom">{{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.ROOM_TYPE.PLAYROOM" | translate }}
                </ion-option>
              </ion-select>
            </ion-item>

            <div padding>
              <button ion-button type="submit" block primary color="navBarColor"
                [disabled]="isBleBusy || isNameWriteInProgress || !canSubmitNameAssociation()">{{ "MOVENTIV_PAGE.ADJUSTMENTS_TAB.FORMBUTTON_VALIDATE" | translate }}</button>
            </div>
          </form>

        </div>

        <div *ngSwitchCase="'advanced'">

          <ion-list-header text-wrap class="slider-lock-header" [class.slider-unlocked]="isSliderUnlocked('breakForceAtOpen')"
            (click)="toggleSliderLock('breakForceAtOpen')">
            {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.BREAKFORCEATOPEN.TITLE" | translate }}
            <ion-badge item-end color="mantionSmtgreen">{{rval_mlpc_proParam_breakForceAtOpen}}</ion-badge>
            <button ion-button clear item-end type="button" class="slider-lock-toggle"
              (click)="toggleSliderLock('breakForceAtOpen', $event)">
              <ion-icon [name]="isSliderUnlocked('breakForceAtOpen') ? 'unlock' : 'lock'" color="wimGreyColor"></ion-icon>
            </button>
          </ion-list-header>

          <ion-item no-lines>
            <ion-icon item-end name="arrow-dropleft" style="zoom:1.0;" color="wimGreyColor"></ion-icon>
            <ion-icon name="moventiv-force" item-start color="wimGreyColor"></ion-icon>
            <ion-range min='1' max="10" debounce="300" step="1" snaps="true"
              [disabled]="!isSliderUnlocked('breakForceAtOpen')"
              (ionFocus)="onSliderInteractionStarted('breakForceAtOpen')"
              (ionBlur)="onSliderReleased('breakForceAtOpen')"
              [(ngModel)]="rval_mlpc_proParam_breakForceAtOpen" color="mantionSmtblue"> </ion-range>
          </ion-item>

          <ion-list-header text-wrap class="slider-lock-header" [class.slider-unlocked]="isSliderUnlocked('nearOpenSpeed')"
            (click)="toggleSliderLock('nearOpenSpeed')">
              {{ "MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.ADVANCEDTUNING.SPEEDNEAROPEN" | translate }}
              <ion-badge item-end color="mantionSmtgreen">{{rval_mlpc_proParam_nearOpenSpeed}} %</ion-badge>
              <button ion-button clear item-end type="button" class="slider-lock-toggle"
                (click)="toggleSliderLock('nearOpenSpeed', $event)">
                <ion-icon [name]="isSliderUnlocked('nearOpenSpeed') ? 'unlock' : 'lock'" color="wimGreyColor"></ion-icon>
              </button>
            </ion-list-header>
  
            <ion-item no-lines>
              <ion-icon item-end name="arrow-dropleft" style="zoom:1.0;" color="wimGreyColor"></ion-icon>
              <ion-icon name="moventiv-speed" item-start color="wimGreyColor"></ion-icon>
              <ion-range min='70' max="100" debounce="300"
                [disabled]="!isSliderUnlocked('nearOpenSpeed')"
                (ionFocus)="onSliderInteractionStarted('nearOpenSpeed')"
                (ionBlur)="onSliderReleased('nearOpenSpeed')"
                [(ngModel)]="rval_mlpc_proParam_nearOpenSpeed" color="mantionSmtblue"> </ion-range>
            </ion-item>
  
            <ion-list-header text-wrap class="slider-lock-header" [class.slider-unlocked]="isSliderUnlocked('nearCloseSpeed')"
              (click)="toggleSliderLock('nearCloseSpeed')">
              {{ "MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.ADVANCEDTUNING.SPEEDNEARCLOSE" | translate }}
              <ion-badge item-end color="mantionSmtgreen">{{rval_mlpc_proParam_nearCloseSpeed}} %</ion-badge>
              <button ion-button clear item-end type="button" class="slider-lock-toggle"
                (click)="toggleSliderLock('nearCloseSpeed', $event)">
                <ion-icon [name]="isSliderUnlocked('nearCloseSpeed') ? 'unlock' : 'lock'" color="wimGreyColor"></ion-icon>
              </button>
            </ion-list-header>
            <ion-item no-lines>
              <ion-icon item-end name="arrow-dropleft" style="zoom:1.0;" color="wimGreyColor"></ion-icon>
              <ion-icon name="moventiv-speed" item-start color="wimGreyColor"></ion-icon>
              <ion-range min='50' max="100" debounce="300"
                [disabled]="!isSliderUnlocked('nearCloseSpeed')"
                (ionFocus)="onSliderInteractionStarted('nearCloseSpeed')"
                (ionBlur)="onSliderReleased('nearCloseSpeed')"
                [(ngModel)]="rval_mlpc_proParam_nearCloseSpeed" color="mantionSmtblue"> </ion-range>
            </ion-item>

          <ion-list-header text-wrap>
            {{"MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.RADARORBUTTON.HEADER" | translate }}
          </ion-list-header>

          <ion-item>
            <ion-badge *ngIf="(rval_mlpc_proParam_periphs1_butOrRadar1 )" item-end
              [color]="rval_mlpc_proParam_periphs1_butOrRadar1  ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
              {{"MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.RADARORBUTTON.INPUT1.RADAR" | translate }}</ion-badge>
            <ion-badge *ngIf="(!rval_mlpc_proParam_periphs1_butOrRadar1 )" item-end
              [color]="rval_mlpc_proParam_periphs1_butOrRadar1  ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
              {{"MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.RADARORBUTTON.INPUT1.BUTTON" | translate }}</ion-badge>
            <ion-icon [name]="rval_mlpc_proParam_periphs1_butOrRadar1 ? 'moventiv-radar' : 'moventiv-button'" item-start
              color="wimGreyColor"></ion-icon>
            <ion-label text-wrap>{{ "MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.RADARORBUTTON.INPUT1.NAME" | translate }}
            </ion-label>
            <ion-toggle [(ngModel)]="rval_mlpc_proParam_periphs1_butOrRadar1" (ionChange)="setUserbutOrRadar1($event)"
              color="mantionSmtgreen">
            </ion-toggle>
          </ion-item>

          <ion-item no-lines>
            <ion-badge *ngIf="(rval_mlpc_proParam_periphs1_butOrRadar2 )" item-end
              [color]="rval_mlpc_proParam_periphs1_butOrRadar2  ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
              {{"MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.RADARORBUTTON.INPUT1.RADAR" | translate }}</ion-badge>
            <ion-badge *ngIf="(!rval_mlpc_proParam_periphs1_butOrRadar2 )" item-end
              [color]="rval_mlpc_proParam_periphs1_butOrRadar2  ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
              {{"MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.RADARORBUTTON.INPUT1.BUTTON" | translate }}</ion-badge>
            <ion-icon [name]="rval_mlpc_proParam_periphs1_butOrRadar2 ? 'moventiv-radar' : 'moventiv-button'" item-start
              color="wimGreyColor"></ion-icon>
            <ion-label text-wrap>{{ "MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.RADARORBUTTON.INPUT2.NAME" | translate }}
            </ion-label>
            <ion-toggle [(ngModel)]="rval_mlpc_proParam_periphs1_butOrRadar2" (ionChange)="setUserbutOrRadar2($event)"
              color="mantionSmtgreen">
            </ion-toggle>
          </ion-item>

          <ion-list-header *ngIf="displayRadarTest" text-wrap>
            {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.RADAR_TEST.TITLE" | translate }}
          </ion-list-header>

          <ion-item *ngIf="displayRadarTest">
            <ion-badge  *ngIf="(rval_mlpc_proParam_periphs1_radarTest1 )" item-end
              [color]="rval_mlpc_proParam_periphs1_radarTest1 ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
              {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.RADAR_TEST.STATE_ENABLED" | translate }}</ion-badge>
            <ion-badge *ngIf="(!rval_mlpc_proParam_periphs1_radarTest1 )" item-end
              [color]="rval_mlpc_proParam_periphs1_radarTest1  ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
              {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.RADAR_TEST.STATE_DISABLED" | translate }}</ion-badge>
            <ion-icon [name]="rval_mlpc_proParam_periphs1_radarTest1 ? 'moventiv-test_on' : 'moventiv-test_off'"
              item-start color="wimGreyColor"></ion-icon>
            <ion-label text-wrap>{{ "WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.RADAR_TEST.OUTPUT1.NAME" | translate }}
            </ion-label>
            <ion-toggle [(ngModel)]="rval_mlpc_proParam_periphs1_radarTest1" (ionChange)="setUserRadarTest1($event)"
              color="mantionSmtgreen">
            </ion-toggle>
          </ion-item>

          <ion-item *ngIf="displayRadarTest" no-lines>
            <ion-badge *ngIf="(rval_mlpc_proParam_periphs1_radarTest2 )" item-end
              [color]="rval_mlpc_proParam_periphs1_radarTest2 ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
              {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.RADAR_TEST.STATE_ENABLED" | translate }}</ion-badge>
            <ion-badge *ngIf="(!rval_mlpc_proParam_periphs1_radarTest2)" item-end
              [color]="rval_mlpc_proParam_periphs1_radarTest2  ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
              {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.RADAR_TEST.STATE_DISABLED" | translate }}</ion-badge>
            <ion-icon [name]="rval_mlpc_proParam_periphs1_radarTest2 ? 'moventiv-test_on' : 'moventiv-test_off'"
              item-start color="wimGreyColor"></ion-icon>
            <ion-label text-wrap>{{ "WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.RADAR_TEST.OUTPUT2.NAME" | translate }}
            </ion-label>
            <ion-toggle [(ngModel)]="rval_mlpc_proParam_periphs1_radarTest2" (ionChange)="setUserRadarTest2($event)"
              color="mantionSmtgreen">
            </ion-toggle>
          </ion-item>

          <ion-list-header *ngIf="displayLockSwitch" text-wrap>
              {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.LOCK.TITLE" | translate }}
            </ion-list-header>

          <ion-item *ngIf="displayLockSwitch" no-lines>
              <ion-badge *ngIf="(rval_mlpc_proParam_periphs1_lock)" item-end
                [color]="rval_mlpc_proParam_periphs1_lock ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
                {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.LOCK.STATE_ENABLED" | translate }}</ion-badge>
              <ion-badge *ngIf="(!rval_mlpc_proParam_periphs1_lock)" item-end
                [color]="rval_mlpc_proParam_periphs1_lock ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
                {{"WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.LOCK.STATE_DISABLED" | translate }}</ion-badge>
              <ion-icon [name]="rval_mlpc_proParam_periphs1_lock ? 'moventiv-lock_off' : 'moventiv-lock_off'"
                item-start color="wimGreyColor"></ion-icon>
              <ion-label text-wrap>{{ "WIDOOR_PAGE.ADJUSTMENTS_TAB.ADVANCED.LOCK.NAME" | translate }}
              </ion-label>
              <ion-toggle [(ngModel)]="rval_mlpc_proParam_periphs1_lock" (ionChange)="setUserLock($event)"
                color="mantionSmtgreen">
              </ion-toggle>
            </ion-item>
        

          <ion-list-header>
            {{ "MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.EXTRA_COMMANDS.TITLE" | translate }}
          </ion-list-header>
          <ion-item no-lines>
            <div col text-center>
              <button ion-button style="height:60px;" (click)=" setShutterLearning()" color="navBarColor">
                <div class="swap" text-wrap>
                  {{ "MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.EXTRA_COMMANDS.LEARNING_BUTTON" | translate }}</div>
              </button>
            </div>
          </ion-item>
          <ion-item no-lines>
            <div col text-center>
              <button ion-button style="height:60px;" (click)="resetAlert()" color="danger" [disabled]="isResetInProgress || isBleBusy">
                <div class="swap" text-wrap>
                  {{ "MOVENTIV_PAGE.PUTTINGINTOSERVICE_TAB.EXTRA_COMMANDS.RESET_BUTTON" | translate }}</div>
              </button>
            </div>
          </ion-item>

        </div>
      </div>
    </ion-list>

    <div *ngSwitchCase="'info'">
      <ion-list>
        <ion-list-header text-wrap>
          {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.HEADER" | translate }}
        </ion-list-header>

        <ion-item>
          <ion-badge *ngIf="(rval_shdo_motorState_switch_BLE )" item-end
            [color]="rval_shdo_motorState_switch_BLE  ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
            {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.BLE.STATE.ON" | translate }}</ion-badge>
          <ion-badge *ngIf="(!rval_shdo_motorState_switch_BLE )" item-end
            [color]="rval_shdo_motorState_switch_BLE  ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
            {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.BLE.STATE.OFF" | translate }}</ion-badge>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.BLE.LABEL" | translate }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-badge *ngIf="(rval_shdo_motorState_switch_autoManu)" item-end
            [color]="rval_shdo_motorState_switch_autoManu ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
            {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.CLOSEMODE.STATE.MANUAL"| translate }}
          </ion-badge>
          <ion-badge *ngIf="(!rval_shdo_motorState_switch_autoManu)" item-end
            [color]="rval_shdo_motorState_switch_autoManu ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
            {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.CLOSEMODE.STATE.AUTO" | translate }}</ion-badge>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.CLOSEMODE.LABEL" | translate }}
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-badge *ngIf="(rval_shdo_motorState_switch_direction)" item-end
            [color]="rval_shdo_motorState_switch_direction ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
            {{ "WIDOOR_PAGE.INFORMATIONS_TAB.SWITCHSTATES.OPENDIRECTION.STATE.CW"| translate }}
          </ion-badge>
          <ion-badge *ngIf="(!rval_shdo_motorState_switch_direction)" item-end
            [color]="rval_shdo_motorState_switch_direction ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
            {{ "WIDOOR_PAGE.INFORMATIONS_TAB.SWITCHSTATES.OPENDIRECTION.STATE.CCW" | translate }}
          </ion-badge>
          <ion-label text-wrap>{{ "WIDOOR_PAGE.INFORMATIONS_TAB.SWITCHSTATES.OPENDIRECTION.LABEL" | translate }}
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-badge *ngIf="(rval_shdo_motorState_switch_pairing)" item-end
            [color]="rval_shdo_motorState_switch_pairing? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
            {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.PAIRLEARN.STATE.PEER"| translate }}</ion-badge>
          <ion-badge *ngIf="(!rval_shdo_motorState_switch_pairing)" item-end
            [color]="rval_shdo_motorState_switch_pairing ? 'mantionSmtgreen' : 'mantionSmtRed'" color="">
            {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.PAIRLEARN.STATE.LEARN"| translate }}
          </ion-badge>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SWITCHSTATES.PAIRLEARN.LABEL"| translate }}
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.GENERAL_INFORMATIONS_SUBTITLE" | translate }}
        </ion-list-header>

        <ion-item>
          <ion-label text-wrap>
            {{ "MOVENTIV_PAGE.INFORMATIONS_TAB.GENERAL_INFORMATIONS.DATEOF_FIRSTUSE" | translate }}
          </ion-label>
          <ion-note
            *ngIf="(rval_shDo_userDatesCycles[5] != 255) && (rval_shDo_userDatesCycles[4] != 256) && (rval_shDo_userDatesCycles[3] != 256)"
            item-end text-wrap>
            {{rval_shDo_userDatesCycles[5] | number : '2.0-0' }}/{{(rval_shDo_userDatesCycles[4]+1)| number : '2.0-0' || 'ND'}}/20{{rval_shDo_userDatesCycles[3]| number : '2.0-0'|| 'ND'}}
          </ion-note>
          <ion-note
            *ngIf="(rval_shDo_userDatesCycles[5] == 256) || (rval_shDo_userDatesCycles[4] == 256) || (rval_shDo_userDatesCycles[3] == 256)"
            item-end text-wrap>Pas effectuée</ion-note>
        </ion-item>
        <ion-item>

          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.GENERAL_INFORMATIONS.NB_CYCLE_TOT" | translate }}
          </ion-label>
          <ion-note item-end text-wrap>{{rval_shDo_userDatesCycles_totCyc | number : '2.0-0'}} </ion-note>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.FIRMWARE_REV_SUBTITLE" | translate }}
        </ion-list-header>
        <ion-item>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.FIRMWARE_REV.MOTOR" | translate }}</ion-label>
          <ion-note item-end text-wrap>
            {{rval_shDo_version[14]| number : '2.0-0'}}.{{rval_shDo_version[15]| number : '2.0-0'}}.{{rval_shDo_version[16]| number : '2.0-0'}}.{{rval_shDo_version[17]| number : '2.0-0'}}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.FIRMWARE_REV.STACKBLE" | translate }}</ion-label>
          <ion-note item-end text-wrap>
            {{rval_shDo_version_bleStack_major| number : '1.0-0'}}.{{rval_shDo_version_bleStack_minor | number : '1.0-0'}}.{{rval_shDo_version_bleStack_patch | number : '1.0-0'}}.{{rval_shDo_version_bleStack_build | number : '1.0-0'}}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.FIRMWARE_REV.BLE" | translate }}</ion-label>
          <ion-note item-end text-wrap>
            {{rval_shDo_version[8]| number : '2.0-0'}}.{{rval_shDo_version[9]| number : '2.0-0'}}.{{rval_shDo_version[10]| number : '2.0-0'}}.{{rval_shDo_version[11]| number : '2.0-0'}}
          </ion-note>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.HARD_REV_SUBTITLE" | translate }}
        </ion-list-header>
        <ion-item>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.HARD_REV.CONTROL" | translate }}</ion-label>
          <ion-note item-end text-wrap>
            {{rval_shDo_version[12]| number : '2.0-0'}}.{{rval_shDo_version[13]| number : '2.0-0'}}</ion-note>
        </ion-item>
        <ion-item>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SUPINFO.HEADER" | translate }}
        </ion-list-header>
        <ion-item>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SUPINFO.INIT" | translate }}</ion-label>
          <ion-note item-end text-wrap>
            {{rval_shDo_proMaintenance_NbInit | number : '2.0-0'}}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SUPINFO.CINIT" | translate }}</ion-label>
          <ion-note item-end text-wrap>
            {{rval_shDo_proMaintenance_NbCyclesSinceInit | number : '2.0-0'}}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SUPINFO.OBSDETECT" | translate }}</ion-label>
          <ion-note item-end text-wrap>
            {{rval_shDo_proMaintenance_NbObsDetect| number : '2.0-0'}}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SUPINFO.EC" | translate }}</ion-label>
          <ion-note item-end text-wrap>
            {{rval_shDo_proMaintenance_NbErrorEncoder | number : '2.0-0'}}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>{{ "MOVENTIV_PAGE.INFORMATIONS_TAB.SUPINFO.EM" | translate }}</ion-label>
          <ion-note item-end text-wrap>
            {{rval_shDo_proMaintenance_NbErrorMotor | number : '2.0-0'}}
          </ion-note>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
