<ion-header>
  <ion-toolbar
    class="mantion-navbar info-navbar main-menu-destination-navbar"
  >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/help" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ copy.aboutTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mantion-page-background">
  <main class="app-info-layout">
    <section>
      <h2>{{ copy.aboutContentTitle }}</h2>

      <ion-list class="legacy-info-list">
        <ion-item>
          <ion-label>{{ copy.versionLabel }}</ion-label>
          <ion-note class="app-version-number" slot="end">
            {{ appVersion }}
          </ion-note>
        </ion-item>
      </ion-list>

      <p>{{ copy.description }}</p>
      <p>{{ copy.connectionDescription }}</p>
      <h3>{{ copy.supportedProductsTitle }}</h3>
      <ul>
        @for (product of copy.supportedProducts; track product) {
          <li>{{ product }}</li>
        }
      </ul>
      <p>{{ copy.phase2Description }}</p>
      <p>{{ copy.modernizationDescription }}</p>
      <p>{{ copy.compatibilityNotice }}</p>
      <p>{{ copy.developerLabel }}</p>
      <p>
        @for (line of copy.aboutAddressLines; track line) {
          {{ line }}<br />
        }
      </p>
      <p>
        {{ copy.supportLabel }}
        <a [href]="copy.supportEmailHref">{{ copy.supportEmail }}</a>
      </p>
    </section>

  </main>
</ion-content>
