page-scan {

    ion-card {
        border: 2px solid #1AB71B;
    }
     

.h2 {
    Font-Weight: Bold;
}


.row {

  align-items: center;
}

.raw .col .button{
  max-width: 100% !important;
  width: 100% !important;
}

  .img-full {
    width: 40px;
    height: 15px;
  }   


  .MACRSSI-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-localisation {
    height: 100%;
    align-items: center;
  }

  .ion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
  }

  .ion-fixed {
    width: 100%;
  }

.noMotDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchText {
  color:#0159a1;

}

.toast-message {
  text-align: center;
}

} 
