page-help {

    .product-choice {
        margin-bottom: 16px;
        text-align: center;
    }

    .product-choice p {
        color: #0159a1;
        font-weight: 600;
    }

    .product-choice button {
        margin-bottom: 10px;
    }

    .pairing-troubles-text p {
        margin: 8px 0 0;
    }
}
