<ion-header>
</ion-header>


<ion-content class="tutorial-content" padding>

  <div *ngIf="!selectedTutorial" class="tutorial-choice">
    <h2>{{ "INFOSLIDE.CHOICE.TITLE" | translate }}</h2>
    <div class="tutorial-choice-buttons">
      <button ion-button large block color="primary" (click)="selectTutorial('widoor')">
        {{ "INFOSLIDE.CHOICE.WIDOOR" | translate }}
      </button>
      <button ion-button large block color="secondary" (click)="selectTutorial('moventiv')">
        {{ "INFOSLIDE.CHOICE.MOVENTIV" | translate }}
      </button>
      <button ion-button large block color="mantionSmtgreen" (click)="selectTutorial('garline')">
        {{ "INFOSLIDE.CHOICE.GARLINE" | translate }}
      </button>
    </div>
  </div>

  <button *ngIf="selectedTutorial" ion-button clear type="button" class="tutorial-skip-button" (click)="pushScan()">
    {{"INFOSLIDE.SKIP"| translate }}
  </button>

  <ion-slides *ngIf="selectedTutorial" pager>
    <ion-slide *ngFor="let slide of slides" style="height:100%">
      <ion-toolbar>
      </ion-toolbar>
      <div class="tutorial-slide-content">
        <img *ngIf="slide.image" [src]="slide.image" class="slide-image"/>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <div class="tutorial-slide-content">
        <h2 class="slide-title">{{ selectedReadyTitle }}</h2>
        <button ion-button large clear icon-end (click)="pushScan()" color="primary">
          {{"INFOSLIDE.END.CONTINUE"| translate }}
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
