@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?jr3y2p');
  src:  url('../assets/fonts/icomoon.eot?jr3y2p#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?jr3y2p') format('truetype'),
    url('../assets/fonts/icomoon.woff?jr3y2p') format('woff'),
    url('../assets/fonts/icomoon.svg?jr3y2p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}-outline:before ,
  .ion-md-ai-#{$arg}:before ,
  .ion-md-ai-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}


@include makeIcon(address, '\e90a');
@include makeIcon(change-name, '\e90b');
@include makeIcon(light, '\e90c');
@include makeIcon(send-message, '\e90d');
@include makeIcon(maintenance, '\e90e');
@include makeIcon(stay-open, '\e90f');
@include makeIcon(radar, '\e910');
@include makeIcon(param, '\e911');
@include makeIcon(phone, '\e912');
@include makeIcon(tempo, '\e913');
@include makeIcon(lock-open, '\e914');
@include makeIcon(lock-close, '\e915');
@include makeIcon(vibrate, '\e916');
@include makeIcon(maint-nav, '\e917');


@include makeIcon(loc-autre, '\e900');
@include makeIcon(loc-cha, '\e902');
@include makeIcon(loc-cui, '\e903');
@include makeIcon(loc-garage, '\e904');
@include makeIcon(loc-sam, '\e905');
@include makeIcon(loc-sdb, '\e906');
@include makeIcon(loc-sdj, '\e907');
@include makeIcon(loc-sal, '\e908');
@include makeIcon(loc-wcs, '\e909');


@include makeIcon(door-open, '\e941');
@include makeIcon(door-close, '\e901');
@include makeIcon(door-stayOpen, '\e91b');















