<ion-header>

  <ion-navbar color="navBarColor">
    <ion-title text-wrap>{{ "PARAM_PAGE.NAVBAR_TITLE" | translate }}

    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <ion-list>
    <ion-list-header text-wrap>
        {{ "PARAM_PAGE.LISTHEADER_LANG" | translate }}
    </ion-list-header>
    <ion-item-group no-lines>
      <ion-item no-lines>
        <ion-icon name="chatbubbles" item-start color="wimGreyColor"></ion-icon>
        <ion-label text-wrap >{{ "PARAM_PAGE.LABEL_LANG" | translate }}</ion-label>
        <ion-toggle [(ngModel)]="toggleLanguageAuto" [checked]="toggleLanguageAuto" (ionChange)="toggleFctLanguageAuto()" color="mantionSmtgreen"></ion-toggle>
      </ion-item>
      <ion-item [hidden]="toggleLanguageAuto">
          <ion-label text-wrap >{{ "PARAM_PAGE.SELECTLANG_FORMLABEL" | translate }}</ion-label>
          <ion-select cancelText="{{ 'PARAM_PAGE.LANGUAGE_MENU.CANCELTEXT' | translate }}" okText="{{ 'PARAM_PAGE.LANGUAGE_MENU.OKTEXT' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectNgModLang" (ionChange)="ngModLangChange($event)">
              <ion-option value="manualLang_DE">{{ "PARAM_PAGE.LANGUAGE.DE" | translate }}</ion-option>              
              <ion-option value="manualLang_EN">{{ "PARAM_PAGE.LANGUAGE.ENG" | translate }}</ion-option>
              <ion-option value="manualLang_FR">{{ "PARAM_PAGE.LANGUAGE.FR" | translate }}</ion-option>
              <ion-option value="manualLang_PL">{{ "PARAM_PAGE.LANGUAGE.PL" | translate }}</ion-option>          
            </ion-select>
        </ion-item>
    </ion-item-group>
  </ion-list>

<ion-list>
  <ion-list-header text-wrap *ngIf= "view_isIos">
    {{ "PARAM_PAGE.SCAN_PAGE.HEADER.IOS" | translate }}
  </ion-list-header>
  <ion-list-header text-wrap *ngIf= "view_isAndroid">
    {{ "PARAM_PAGE.SCAN_PAGE.HEADER.ANDROID" | translate }}
  </ion-list-header>
  <ion-item-group>
    <ion-item>
      <ion-icon name="list" item-start color="wimGreyColor"></ion-icon>
      <ion-label *ngIf= "!view_isIos" text-wrap>{{ "PARAM_PAGE.SCAN_PAGE.MACADDRESS" | translate }}</ion-label>
      <ion-label *ngIf= "view_isIos" text-wrap>{{ "PARAM_PAGE.SCAN_PAGE.UUID" | translate }}</ion-label>
      <ion-toggle [(ngModel)]="toggleMac" [checked]="toggleMac"  (ionChange)="toggleFctMac()" color="mantionSmtgreen"></ion-toggle>
    </ion-item>
  </ion-item-group>
</ion-list>


  <ion-list>
  <ion-item-group>
      <ion-list-header text-wrap>
          {{ "PARAM_PAGE.OPT_TAB.HEADER" | translate}}
      </ion-list-header>
      <ion-item>
        <ion-icon name="ai-change-name" item-start color="wimGreyColor"></ion-icon>
        <ion-label>  {{ "PARAM_PAGE.OPT_TAB.ADJUST" | translate}}</ion-label>
        <ion-toggle [(ngModel)]="toggleDispTabSettings" [checked]="toggleDispTabSettings"(ionChange)="toggleFctDispTabSet()" color="mantionSmtgreen"></ion-toggle>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item>
        <ion-icon name="list" item-start color="wimGreyColor"></ion-icon>
        <ion-label>  {{ "PARAM_PAGE.OPT_TAB.INFOS" | translate}}</ion-label>
        <ion-toggle [(ngModel)]="toggleDispTabInformations" (ionChange)="toggleFctDispTabInfo()" color="mantionSmtgreen"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list>
    <ion-list-header text-wrap>
        {{ "PARAM_PAGE.OTHER_OPTION.HEADER" | translate}}
    </ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-icon name="ai-vibrate" item-start color="wimGreyColor"></ion-icon>
        <ion-label text-wrap>{{ "PARAM_PAGE.OTHER_OPTION.VIBRATE" | translate}}</ion-label>
        <ion-toggle [(ngModel)]="toggleVibrate" (ionChange)="toggleFctVibrate()" color="mantionSmtgreen"></ion-toggle>
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="view_isAndroid">
      <ion-item>
        <ion-icon name="bluetooth" item-start color="wimGreyColor"></ion-icon>
        <ion-label text-wrap>{{ "PARAM_PAGE.OTHER_OPTION.BLUETOOTH" | translate}}</ion-label>
        <ion-toggle [(ngModel)]="toggleBluetooth" (ionChange)="toggleFctBluetooth()" color="mantionSmtgreen"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
