page-param {

    .alert-radio-label {
        white-space: normal!important;
    }

    .ion-select {
        position: relative!important;
        max-width: 100%!important;
        white-space: pre-line!important;
        text-align: left!important;
    }



      .alert-ios .alert-radio-label{
        white-space: pre-line;
        }
        .alert-md .alert-radio-label{
        white-space: pre-line;
        }
        .alert-wp .alert-radio-label{
        white-space: pre-line;
        }



}
