<ion-header>
  <ion-toolbar
    class="mantion-navbar info-navbar main-menu-destination-navbar"
  >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app-info" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ copy.navbarTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mantion-page-background">
  <main class="legal-layout">
    <h2>{{ copy.title }}</h2>

    @for (section of copy.sections; track section.title) {
      <section>
        <h5>{{ section.title }}</h5>
        @for (paragraph of section.paragraphs; track $index) {
          <p>{{ paragraph }}</p>
        }
      </section>
    }

    <section>
      <h5>{{ copy.definitionsTitle }}</h5>
      <dl>
        @for (definition of copy.definitions; track definition.term) {
          <div class="definition">
            <dt>{{ definition.term }}</dt>
            <dd>{{ definition.description }}</dd>
          </div>
        }
      </dl>
    </section>
  </main>
</ion-content>
