<ion-header>
  <ion-toolbar
    class="mantion-navbar info-navbar main-menu-destination-navbar"
  >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app-info" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ copy.navbarTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mantion-page-background">
  <main class="company-layout">
    <h2>{{ copy.contentTitle }}</h2>
    <h5>{{ copy.contentSubtitle }}</h5>

    <p>{{ copy.introduction }}</p>
    <p>{{ copy.expertiseIntro }}</p>

    <ul>
      @for (item of copy.expertiseItems; track $index) {
        @if (item) {
          <li>{{ item }}</li>
        }
      }
    </ul>

    <p>{{ copy.paragraph3 }}</p>
    <p>{{ copy.paragraph4 }}</p>

    <p>{{ copy.addressPresentation }}</p>
    <p>{{ copy.addressLocalization }}</p>

    <figure>
      <img src="assets/img/mantionSMT_exterior.jpg" alt="" />
    </figure>

    <figure>
      <img src="assets/img/mantionSMT_manufacturing.jpg" alt="" />
    </figure>
  </main>
</ion-content>
